.wrapper {
    text-align: center;
}

.wrapper h1 {
    color: blueviolet;
    font-size: 50px;
    margin-top: 20px;
}

.wrapper h2 {
    color: lightseagreen;
    font-size: 30px;
}

.wrapper h1 span {
    border-bottom: 4px solid black;
}

.wrapper p {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
    height: 390px;
    overflow: scroll;

}

#delete {
    width: 200px;
    height: 50px;
    background: #127;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    border: 0;
    box-shadow: 5px 5px 10px grey;
}

#delete:hover {
    background: rgb(255, 0, 0);
}

.delt {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
