#name {
    width: 700px;
    height: 50px;
    background: none;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
}

#name,
#name::placeholder {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.559);
}

.flex {
    display: flex;
    justify-content: center;
}

.cont {
    display: flex;
    justify-content: center;
}

#title {
    width: 700px;
    height: 50px;
    background: none;
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
}

#title,
#title::placeholder {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.559);
}

#text_ar {
    background: none;
    font-family:  sans-serif;
    border: 0;
    outline: 0;
    margin: 5px;
}

#text_ar,
#text_ar::placeholder {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.559);
}

#blog_add {
    background: #227;
    padding: 10px;
    outline: 0;
    border: 0;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-top: 5px;
}
#blog_add:hover{
    background: rgba(74, 74, 207, 0.801);
} 

.blog_add {
    display: flex;
    justify-content: center;
}